.markdown {
  & table {
    display: block;
    overflow-x: auto;
    margin: 32px 0;
    border-spacing: 0;
    border-collapse: collapse;
    max-width: 100%;

    & thead {
      background-color: #d6e2ff80;
    }

    & th,
    & td {
      padding: 6px 13px;
      border: 1px solid #d6e2ff;
    }

    & td > :last-child {
      margin-bottom: 0;
    }

    & tr:nth-child(2n) {
      background-color: #d6e2ff80;
    }
  }
}
