# vim: set ft=bash
# This file is a template for the environment variables that need to be set and
# should be copied to `.envrc` and filled in with the correct values.

# target environment: dev, test, staging or beta
export ENVIRONMENT=<ENVIRONMENT>
# target AWS profile
export AWS_PROFILE=<AWS_PROFILE>
# the codename of the Cardano Network
export CARDANO_NETWORK=<CARDANO_NETWORK>
# credentials to the PostgreSQL database used by Cardano DB Sync
export DBSYNC_POSTGRES_USER=<DBSYNC_POSTGRES_USER>
export DBSYNC_POSTGRES_PASSWORD=<DBSYNC_POSTGRES_PASSWORD>
export DBSYNC_POSTGRES_DB=<DBSYNC_POSTGRES_DB>
# the Let's Encrypt email address
export TRAEFIK_LE_EMAIL=<TRAEFIK_LE_EMAIL>
# Google Tag Manager ID
export GTM_ID=<GTM_ID>
# Sentry DSN for the backend
export SENTRY_DSN_BACKEND=<SENTRY_DSN_BACKEND>
# Sentry DSN for the frontend
export SENTRY_DSN=<SENTRY_DSN>
# Sentry environment
export SENTRY_ENVIRONMENT=<SENTRY_ENVIRONMENT>
# the password for the Grafana admin user
export GRAFANA_ADMIN_PASSWORD=<GRAFANA_ADMIN_PASSWORD>
# the Slack channel to send Grafana alerts to
export GRAFANA_SLACK_RECIPIENT=<GRAFANA_SLACK_RECIPIENT>
# the OAuth token for the Slack bot
export GRAFANA_SLACK_OAUTH_TOKEN=<GRAFANA_SLACK_OAUTH_TOKEN>
# the basic auth credentials for the Nginx proxy
export NGINX_BASIC_AUTH=<NGINX_BASIC_AUTH>
# the IP addresses that bypass the basic auth
export IP_ADDRESS_BYPASSING_BASIC_AUTH1=<IP_ADDRESS_BYPASSING_BASIC_AUTH1>
export IP_ADDRESS_BYPASSING_BASIC_AUTH2=<IP_ADDRESS_BYPASSING_BASIC_AUTH2>
# the Redis Password
export REDIS_PASSWORD=<REDIS_PASSWORD>

# the domain name for the target environment
case "$ENVIRONMENT" in
  "dev")
    export DOMAIN="dev-${CARDANO_NETWORK}.govtool.byron.network"
    ;;
  "test")
    export DOMAIN="test-${CARDANO_NETWORK}.govtool.byron.network"
    ;;
  "staging")
    export DOMAIN="staging.govtool.byron.network"
    ;;
  "beta")
    export DOMAIN="sanchogov.tools"
    ;;
  *)
    exit 1
    ;;
esac
