# GovTool Project Codeowners

# These owners will be the default owners for everything in the repository.
* @Ryun1 @aaboyle878

# Frontend assets templates
govtool/frontend/*                                                          
*.tsx                                                                       
*.ts                                                                        
*.css                                                                       

# Backend
govtool/backend/*                                                           

# DevOps
.github/workflows/*                                                         
config/govtool/*                                                            
infra/terraform/*                                                           

# Testing
tests/*                                                                     
gov-action-loader/*                                                         
