# GovTool Project Codeowners

# These owners will be the default owners for everything in the repository.
* @Ryun1 @kickloop

# Frontend assets templates
govtool/frontend/*                                                          @Sworzen1 @JanJaroszczak @kickloop
*.tsx                                                                       @Sworzen1 @JanJaroszczak @kickloop
*.ts                                                                        @Sworzen1 @JanJaroszczak @kickloop
*.css                                                                       @Sworzen1 @JanJaroszczak @kickloop

# Backend
govtool/backend/*                                                           @jankun4 @kickloop

# DevOps
.github/workflows/*                                                         @adgud @kickloop
config/govtool/*                                                            @adgud @kickloop
infra/terraform/*                                                           @adgud @kickloop

# Testing
gov-action-loader/*                                                         @IntersectMBO/govtool-test @kickloop
tests/*                                                                     @IntersectMBO/govtool-test @kickloop