DBSYNC_POSTGRES_HOST=
DBSYNC_POSTGRES_PORT=
DBSYNC_POSTGRES_USER=
DBSYNC_POSTGRES_PASSWORD=
DBSYNC_DATABASE=
# mainnet, preprod, preview or devnet; must match the database
DBSYNC_NETWORK=preview
PDF_API_URL=""
IPFS_GATEWAY="https://ipfs.io/ipfs"
# Optional: enables /ipfs/upload
PINATA_API_JWT=
