DBSYNC_POSTGRES_HOST=
DBSYNC_POSTGRES_PORT=
DBSYNC_POSTGRES_USER=
DBSYNC_POSTGRES_PASSWORD=
DBSYNC_DATABASE=
APP_ENV="development"
BASE_URL="http://localhost:9999"
METADATA_API_URL="http://localhost:3000"
NETWORK_FLAG=0
SENTRY_DSN=""
GTM_ID=""
IS_DEV=true
CHATWOOT_URL=""
CHATWOOT_WEBSITE_TOKEN=""
IS_PROPOSAL_DISCUSSION_FORUM_ENABLED='false'
IS_GOVERNANCE_OUTCOMES_PILLAR_ENABLED='true'
PDF_API_URL=""
OUTCOMES_API_URL="http://localhost:3001/"
IPFS_GATEWAY="https://ipfs.io/ipfs"
IPFS_PROJECT_ID=""