HOST_URL=http://localhost:3000
API_URL=http://localhost:3000/api

DOCS_URL=https://docs.gov.tools


PDF_URL=https://dev.api.pdf.gov.tools

# Faucet
FAUCET_API_KEY=

#Blockfrost
BLOCKFROST_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXX

# Kuber
KUBER_API_KEY=

# Transaction timeout
TX_TIMEOUT=240000 # milliseconds

# Metadata Bucket
METADATA_BUCKET_URL=https://metadata-govtool.cardanoapi.io

FAUCET_ADDRESS=addr_test1vqeux7xwusdju9dvsj8h7mca9aup2k439kfmwy773xxc2hcu7zy99


PROPOSAL_FAUCET_PAYMENT_PRIVATE=**********************************************
PROPOSAL_FAUCET_STAKE_PRIVATE=**********************************************
PROPOSAL_FAUCET_DREP_PRIVATE=**********************************************

CI=true
TEST_WORKERS=6