HOST_URL=http://localhost:3000

DOCS_URL=https://docs.gov.tools

#Blockfrost
BLOCKFROST_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXX

# Kuber
KUBER_API_KEY=

# Transaction timeout
TX_TIMEOUT=240000 # milliseconds

# Metadata Bucket
METADATA_BUCKET_URL=https://metadata-govtool.cardanoapi.io

FAUCET_ADDRESS=
FAUCET_PAYMENT_PRIVATE=
FAUCET_STAKE_PKH=

CI=true
TEST_WORKERS=6 // Number of workers to run in parallel