FRONTEND_URL=http://localhost:8080
API_URL=http://localhost:8080/api

DOCS_URL=https://docs.sanchogov.tools

# 1 for testnet, 0 for mainnet
NETWORK_ID=1,

# Create mock wallets if true
ONE_TIME_WALLET_SETUP=false,

# Faucet
FAUCET_API_URL=https://faucet.sanchonet.world.dev.cardano.org
FAUCET_API_KEY=

# Kuber
KUBER_API_URL=https://sanchonet.kuber.cardanoapi.io
KUBER_API_KEY=