node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.env
tests-out/
.auth/
.download/
allure-results/
allure-report/
.secrets
.vars
.lock-pool/
.logs/
lib/_mock/*.json

./lock_logs.txt
