@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins-Medium.ttf');
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins-Bold.ttf');
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins-Regular.ttf');
	font-style: normal;
	font-weight: 400;
}
