VVA_DBSYNCCONFIG_HOST=Host
VVA_DBSYNCCONFIG_PORT=Port number
VVA_DBSYNCCONFIG_DBNAME=database_name
VVA_DBSYNCCONFIG_USER=database_user
VVA_DBSYNCCONFIG_PASSWORD=password

VVA_PINATAAPIJWT=
VVA_SENTRYDSN=https://username:password@senty.host/id
