BASE_URL="https://govtool.cardanoapi.io/api"
# optional: post test metrics here (leave commented out to skip)
# METRICS_URL=""
# METRICS_API_SECRET=""

# required for setup.py
# default: https://<NETWORK>.kuber.cardanoapi.io
KUBER_URL=""
KUBER_API_KEY="" # optional
FAUCET_API_KEY=""
NETWORK=preview
