BASE_URL = "https://govtool.cardanoapi.io/api"
RECORD_METRICS_API = `URL where metrics is posted`
METRICS_API_SECRET= `api_secret`

# required for setup
KUBER_API_URL = "https://kuber-govtool.cardanoapi.io"
KUBER_API_KEY = "" # optional
FAUCET_API_KEY= """
NETWORK= preview