VITE_APP_ENV="development"
VITE_BASE_URL="http://localhost:9999"
VITE_METADATA_API_URL="http://localhost:3000"
VITE_NETWORK_FLAG=0
VITE_SENTRY_DSN=""
VITE_IS_DEV=true
VITE_CHATWOOT_URL=""
VITE_CHATWOOT_WEBSITE_TOKEN=""
VITE_IS_PROPOSAL_DISCUSSION_FORUM_ENABLED='false'
VITE_IS_GOVERNANCE_OUTCOMES_PILLAR_ENABLED='false'
VITE_PDF_API_URL=""
VITE_OUTCOMES_API_URL=""
VITE_IPFS_GATEWAY="https://ipfs.io/ipfs"
VITE_IPFS_PROJECT_ID=""
