# vim: set ft=bash

source_up
watch_file default.nix yarn.lock
env_vars_required CARDANO_NETWORK GTM_ID SENTRY_DSN

if [[ "${CARDANO_NETWORK}" = "mainnet" ]]; then
  export VITE_NETWORK_FLAG=1
else
  export VITE_NETWORK_FLAG=0
fi
export VITE_BASE_URL=http://localhost:9999
export VITE_IS_DEV=true
export VITE_GTM_ID="${GTM_ID}"
export VITE_SENTRY_DSN="${SENTRY_DSN}"

use flake --extra-experimental-features nix-command --extra-experimental-features flakes ../..#frontend
