name: Add all issues created to projects

on:
  issues:
    types: [opened]

jobs:
  add-to-govtool-all-project:
    name: Add issue to GovTool all project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@v1.0.2
        with:
          project-url: https://github.com/users/IntersectMBO/projects/30
          github-token: ${{ secrets.ADD_ISSUE_TO_PROJECT_PAT }}

  add-to-community-backlog-project:
    name: Add issue to governance tools community backlog project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@v1.0.2
        with:
          project-url: https://github.com/users/IntersectMBO/projects/34
          github-token: ${{ secrets.ADD_ISSUE_TO_PROJECT_PAT }}